p,
h1,
h2,
h3,
h4,
a,
.page-wrapper {
    font-family: 'Open Sans', sans-serif;
}

.page-wrapper {
    width: 1900px;
    margin: 0 auto;
}

.container {
    width: 1170px;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

i {
    width: 100%;
    height: 100%;
    display: block;
}

.header {
    background: #313131;
}

.header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
}

.logo-architect {
    width: 81px;
    height: 70px;
}

.search {
    width: 70px;
    height: 70px;
}

.search:hover {
    background: #000;
}

.logo-architect-icon {
    background: url("../img/logos/logo-architect.png") center no-repeat;
}

.search-icon {
    background: url("../img/logos/search.png") center no-repeat;
}

.logo-text {
    padding-left: 10px;
    padding-right: 10px;
    color: #fff;
    font-size: 22px;
    font-weight: bold;
    line-height: 30px
}

.navbar-list {
    display: flex;
    align-items: start;
    justify-content: space-evenly;
}

.navbar-item {
    margin: 0 35px;
}

.navbar-item-link {
    color: #fff;
    text-transform: uppercase;
    font-size: 15px;
}

.navbar-item-link:hover {
    color: #14B9D5;
}

.promo {
    background: linear-gradient( rgba(36, 36, 36, .4), rgba(36, 36, 36, .4)), url("../img/header-bg.jpeg") bottom center no-repeat fixed;
    background-position-y: -490px;
}

.promo-wrapper {
    padding-top: 164px;
    padding-bottom: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.promo-title {
    color: #fff;
    font-size: 27px;
    text-transform: uppercase;
    font-weight: bold;
    line-height: 37px;
}

.promo-buttons {
    display: flex;
    width: 25%;
    justify-content: space-evenly;
}

.button {
    width: 170px;
    margin-top: 45px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-size: 18px;
    color: white;
    font-weight: normal;
    text-align: center;
}

.left-promo-button {
    background: #89ca62;
}

.left-promo-button:hover {
    background: #79b952;
}

.right-promo-button {
    background: #14b9d5;
}

.right-promo-button:hover {
    background: #179ab0;
}

.posts {
    background: #f2f2f2;
}

.selection-title {
    font-size: 27px;
    font-weight: bold;
    text-transform: uppercase;
    color: #18B4CF;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

.post-wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 100vw;
    max-height: 870px;
    font-size: 0;
    align-items: center;
}

.post {
    background: #fff;
    width: 370px;
    margin-top: 10px;
    margin-bottom: 10px;
    box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.05);
}

.post-text {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #353A3D;
}

.post.post-start {
    align-self: flex-start;
}

.post.post-end {
    align-self: flex-end;
}

.clients {
    background: linear-gradient( rgba(36, 36, 36, .4), rgba(36, 36, 36, .4)), url("../img/parallax-bg.jpeg") bottom center no-repeat fixed;
}

.selection-title.white-title {
    color: #fff;
    font-size: 32px;
    font-weight: bold;
    line-height: 44px;
    position: relative;
}

.white-title:after {
    content: "";
    width: 60px;
    height: 3px;
    background: #18B4CF;
    position: absolute;
    left: calc(50% - 30px);
    top: 170px;
}

.clients-wrapper {
    padding-top: 80px;
    padding-bottom: 190px;
}

.client-list {
    margin-top: 120px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
}

.top-rated-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.single-new-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 40px;
    margin-bottom: 50px;
}

.single-new {
    background: #f9f7f7;
}

.new1 {
    grid-column: 1 / 4
}

.new2 {
    grid-column: 1 / 3;
    justify-self: start;
    width: min-content;
}

.new3 {
    grid-column: 3 / 5;
    justify-self: end;
    width: min-content;
}

.new4 {
    grid-column: 2 / 5
}

.new .single-new-title {
    text-align: center;
}

.single-new-wrapper {
    display: flex;
    flex-direction: column;
}

.new1 .single-new-wrapper,
.new4 .single-new-wrapper {
    flex-direction: row;
}

.single-new-content {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.single-new-title {
    font-size: 18px;
    font-weight: bold;
    text-align: right;
    padding: 16px;
}

.single-new-text {
    text-align: right;
    padding: 0 16px 16px;
    font-size: 14px;
    line-height: 1.4em;
}

.footer-wrapper {
    padding-top: 20px;
    padding-bottom: 20px;
    display: grid;
    grid-template-columns: 10fr 1fr;
    align-items: center;
}

.footer {
    background: black;
}

.footer-text {
    color: #fff;
}